
.obj-fruits {
    position: absolute;
    bottom: 56%;
    left: 15%;
    width: 6%;
    height: 10%;
    transform-origin: bottom left;
    /*border-style: solid;*/
    background-image: url("res/fruits.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.obj-bell1 {
    position: absolute;
    top: 65%;
    left: 40%;
    width: 6%;
    height: 9%;
    border-style: none;
}

.obj-bell2 {
    position: absolute;
    top: 66%;
    left: 50%;
    width: 4%;
    height: 9%;
    border-style: none;
}

.obj-bell3 {
    position: absolute;
    top: 65%;
    left: 55%;
    width: 4%;
    height: 9%;
    border-style: none;
}
