
.obj-bell1 {
    position: absolute;
    top: 65%;
    left: 40%;
    width: 6%;
    height: 9%;
    border-style: double;
}

.obj-bell2 {
    position: absolute;
    top: 66%;
    left: 50%;
    width: 4%;
    height: 9%;
    border-style: dashed;
}

.obj-bell3 {
    position: absolute;
    top: 65%;
    left: 55%;
    width: 4%;
    height: 9%;
    border-style: solid;
}
