
.obj-tree {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 16%;
    height: 80%;
    /*border-style: dashed;*/
}

.obj-tree2 {
    position: absolute;
    top: 8%;
    right: 1%;
    width: 17%;
    height: 70%;
}

.obj-tree3 {
    position: absolute;
    top: 8%;
    left: 38%;
    width: 10%;
    height: 60%;
    border-style: none;
}

.obj-bird-yes {
    position: absolute;
    top: 32%;
    left: 38%;
    width: 5%;
    height: 10%;
    border-style: none;
    background-image: url("res/bird_yes.gif");
    background-size: contain;
    background-repeat: no-repeat;
    visibility: hidden;
}
.obj-bird-no {
    position: absolute;
    top: 32%;
    left: 38%;
    width: 5%;
    height: 10%;
    border-style: none;
    background-image: url("res/bird_no.gif");
    background-size: contain;
    background-repeat: no-repeat;
    visibility: hidden;
}

.obj-way {
    position: absolute;
    top: 65%;
    left: 45%;
    width: 15%;
    height: 22%;
    font-size: 16vh;
}

.obj-river {
    position: absolute;
    top: 63%;
    left: 40%;
    width: 3%;
    height: 42%;
    transform: rotate(-70deg);
}