/*           ***                                                base                                            ***           */
body,
html {
    height: 100%;
    width: 100%;
    position: relative;
    user-select: none;
    overflow: hidden;
    /* Hide scrollbars */
    padding: 0;
    /* no rims (remove default top rim)*/
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-title {
    /* font-family: 'Comic Sans MS'; 
    */
    display: inline-block;
    font-size: 20vh;
    color: rgb(209, 192, 109);
    margin-top: 3vh;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-top: 20vh;
    padding-bottom: 20vh;

    /*
    border-style: solid;
    border-image: url('./res/frame.png');    ...zeigt irgendwie nix an. in einem nackten html gehts aber*/
    background-size: 100% 100%;
    background-image: url('./res/frame2.png');
}

/* overlay over all, e.g. for "game starts..."  */
.overlay {
    position: absolute;
    text-align: center;
    color: aliceblue;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    font-size: 10vh;
    background-color: rgba(0, 0, 0);
    opacity: 80%;
    z-index: 9998;
    text-shadow: 0 0 3px blue, 0 0 5px yellowgreen, 0 0 7px blue, 0 0 8px yellow,
        0 0 4px blue, 0 0 6px yellowgreen, 0 0 8px blue, 0 0 9px yellow;
}

/* overlay over all if text is displayd. Hides mouse courser, takes only clicks for next text  */
.overlay_txt_active {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    cursor: none;
}

/* div text field to display text  */
.txt {
    cursor: pointer;
    position: absolute;
    /*pointer-events: none;   damit man durchklicken kann auf das darunter */
    animation: fadeInFromNone 2s ease-in;
    width: 25%;
    /*height: 80%;*/
    right: 5%;
    top: 5%;
    font-size: 5.5vh;
    word-wrap: break-word;
    overflow-y: auto;
    color: red;

    text-shadow:
        rgb(15, 15, 15) -1px -1px 1px,
        rgb(15, 15, 15) 1px -1px 1px,
        rgb(15, 15, 15) -1px 1px 1px,
        rgb(15, 15, 15) 1px 1px 1px;

}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}





/*           ***                                                inventory                                            ***           */
.inventory {
    z-index: 9999;
    cursor: pointer;
    color: red;
    position: absolute;
    left: 3%;
    top: 1%;
    font-size: 5vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.inventory-item {
    display:block; 
}

/*** *** ***  inventory item add - animation, is set by div.classList.add("ani");*/
.ani {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}




/*           ***                                                menu                                            ***           */
.menu {
    position: absolute;
    width: 100%;
    bottom: 5%;
    color: goldenrod;
    /*right:50%;  Positions 50% from right (right edge will be at center) */
    /*margin-right:200px;  Positions 200px to the left of center     */
    font-size: 6vh;
    display: flex;
    justify-content: space-evenly;

}

/* Level BACK - FWD Butons */

.menu_back {
    position: absolute;    
    visibility: visible;
    bottom: 3%;
    left: 1%;
    width: 6%;
    height: 8%;
    rotate: 180deg;
    transform-origin: center;
    background-repeat: no-repeat;
    background-image: url("res/arr.png");
    background-size:cover;
    border-style:none;
}
.menu_fwd {
    position: absolute;    
    visibility: visible;
    right: 5%;
    bottom: 3%;
    width: 6%;
    height: 8%;
    rotate: 0deg;
    background-repeat: no-repeat;
    background-image: url("res/arr.png");
    background-size:cover;
    border-style:none;
}

.menu_item {
    text-shadow:
        0 0 2px maroon,
        0 0 3px maroon,
        0 0 4px maroon,
        0 0 5px maroon,
        0 0 6px maroon,
        0 0 7px maroon,
        0 0 8px maroon,
        0 0 10px maroon;
}

.menu_item:hover {
    cursor: pointer;
}

.menu_item:not(.menu-high):hover {
    /* dark red shadow if hover, but only if not selected(highlighted) */
    animation: fadeInMenu .3s ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadeInMenu {

    /* fade-in a reddish shadow, if menu item is hovered (but not marked(=clicked) yet) */
    0% {
        text-shadow:
            0 0 2px maroon, 0 0 3px maroon, 0 0 4px maroon, 0 0 5px maroon, 0 0 6px maroon, 0 0 7px maroon, 0 0 8px maroon, 0 0 10px maroon;
    }

    100% {
        text-shadow:
            0 0 7px maroon, 0 0 10px maroon, 0 0 12px maroon, 0 0 14px maroon, 0 0 16px maroon, 0 0 17px maroon, 0 0 18px maroon, 0 0 20px maroon;
    }
}

.menu-high {
    /* light-red shadow (neon) if highlighted */
    text-shadow:
        0 0 7px red, 0 0 10px red, 0 0 12px red, 0 0 14px red, 0 0 16px red, 0 0 17px red, 0 0 18px red, 0 0 20px red;
}


/*           ***                                                general clickable object in the virtual world                                         ***           */
.obj {
    color: red;
    text-shadow:
        rgb(15, 15, 15) -1px -1px 1px, rgb(15, 15, 15) 1px -1px 1px, rgb(15, 15, 15) -1px 1px 1px, rgb(15, 15, 15) 1px 1px 1px;
    /* border-style: dashed; */
}

.obj:hover {
    cursor: pointer;
}
